*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

button {
	font: inherit;
}

h1,
h2,
h3 {
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 700;
	color: #303b5a;
	line-height: 1.2727;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.17em;
}

.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 800;
}

body {
	position: relative;
	display: flex;
	min-height: 100vh;
	background-color: #ebf1ff;
	font-family: 'Hanken Grotesk', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	font-size: 1.6rem;
	font-weight: 500;
	color: #303b5a;
	line-height: 1.3125;
}

@media (min-width: 48em) {
	body {
		font-size: 1.8rem;
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.btn--primary {
	position: relative;
	z-index: 1;
	padding: 1.4rem;
	background-color: #303b5a;
	border-radius: 30px;
	color: #fff;
}

.btn--primary::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: inherit;
	opacity: 0;
	transition: inherit;
}

.btn--primary:hover::before {
	opacity: 1;
}

.btn--link {
	color: #7857ff;
}

.btn--link:hover {
	color: #2e2be9;
}

.btn--full {
	display: flex;
	width: 100%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.container {
	padding: 0 2.4rem;
}

#root {
	display: flex;
	flex: auto;
}

.main,
.main .container {
	display: flex;
	flex: auto;
}

.main .container {
	justify-content: center;
	align-items: flex-start;
}

@media (min-width: 48em) {
	.main .container {
		align-items: center;
	}
}
